version: "3"
services:
  fe:
    command: sh -c "npm run build && npx http-server dist"
  be:
    command: sh -c "npx knex migrate:latest && npx knex seed:run && npm start"
  cypress:
    command: npx cypress run
